<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Url</key>
	<array>
		<dict>
			<key>BotUrl</key>
			<string>https://www2.directtalk.com.br/chat31/?idd=048F00860658E0195375</string>
		</dict>
	</array>
</dict>
</plist>
